$line: 4px solid darkgray;

.crosses {
	display: flex;
	flex-direction: column;
	// width: 350px;
	font-family: sans-serif;
	user-select: none;

	&__row {
		display: flex;
		justify-content: center;
	}

	&__cell {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		// box-sizing: border-box;
		font-size: 3em;
		transition-duration: 0.3s;		

		&:hover {
			cursor: pointer;
			background-color: rgba(0,0,0,0.1);
		}
	}

	&__cell_col {
		border-left: $line;
		border-right: $line;
	}

	&__cell_row {
		border-top: $line;
		border-bottom: $line;
	}

	&__cell_center {
		border: $line;
	}

	&__char {
		transform: scale(0);
		transition-duration: 1s;	
	}
	
	&__check {
		transform: scale(1); 
	}
}