<div class="crosses">
    <div class="crosses__row">
        <div class="crosses__cell">
            <div class="crosses__char"></div>
        </div>
        <div class="crosses__cell crosses__cell_col">
            <div class="crosses__char"></div>
        </div>
        <div class="crosses__cell">
            <div class="crosses__char"></div>
        </div>
    </div>
    <div class="crosses__row">
        <div class="crosses__cell crosses__cell_row">
            <div class="crosses__char"></div>
        </div>
        <div class="crosses__cell  crosses__cell_center">
            <div class="crosses__char"></div>
        </div>
        <div class="crosses__cell crosses__cell_row">
            <div class="crosses__char"></div>
        </div>
    </div>
    <div class="crosses__row">
        <div class="crosses__cell">
            <div class="crosses__char"></div>
        </div>
        <div class="crosses__cell crosses__cell_col">
            <div class="crosses__char"></div>
        </div>
        <div class="crosses__cell">
            <div class="crosses__char"></div>
        </div>
    </div>
</div>