<div class="crosses">
	<div class="crosses__row">
		<div class="crosses__cell">
			empty
		</div>
		<div class="crosses__cell crosses__cell_col">
			<div>empty</div>
		</div>
		<div class="crosses__cell">
			empty
		</div>
	</div>
	<div class="crosses__row">
		<div class="crosses__cell crosses__cell_row">
			empty
		</div>
		<div class="crosses__cell  crosses__cell_center">
			empty
		</div>
		<div class="crosses__cell crosses__cell_row">
			empty
		</div>
	</div>
	<div class="crosses__row">
		<div class="crosses__cell">
			empty
		</div>
		<div class="crosses__cell crosses__cell_col">
			empty
		</div>
		<div class="crosses__cell">
			empty
		</div>
	</div>
</div>